html {
    font-size: clamp(14px, 1vw + 8px, 18px);
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

#root {
  max-width: 100vw;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}
.body-wrapper {
  height: 100vh;
  max-width: 100vw;
}

.with-fieldsets-container{
  height: 100%;
  display: flex;
}
